{% extends "base.html" %}

{% block content %}
    <div class="header d-flex justify-content-center mt-3">
        <div class="btn_priv btn btn-primary mx-2">
          <a class="text-white" href="#anchor-1">Приветствие</a>
        </div>
        <div class="btn_about btn btn-primary mx-2">
          <a class="text-white" href="#anchor-2">О Нас</a>
        </div>
        <div class="btn_work btn btn-primary mx-2">
          <a class="text-white" href="#anchor-3">Как устроен сайт</a>
        </div>
        <div class="btn_work btn btn-primary mx-2">
          <a class="text-white" href="#anchor-4">Создатели</a>
        </div>
        <div class="btn_join btn btn-success ms-5">
          <a class="text-white" href="/join">Войти</a>
        </div>
        <div class="btn_in btn btn-success mx-2">
          <a class="text-white" href="/register">Зарегистрироваться</a>
        </div>
    </div>
    <div class="content">
        <a name="anchor-1"></a>
        <h4 class="mt-4 mb-1">{{ greeting_title }}</h4>
        {{ greeting }}
        <a name="anchor-2"></a>
        <h4 class="mt-4 mb-1">{{ about_title }}</h4>
        {{ about }}
        <a name="anchor-3"></a>
        <h4 class="mt-4 mb-1">{{ how_the_site_works_title }}</h4>
        {{ how_the_site_works }}
        <a name="anchor-4"></a>
        <h4 class="mt-4 mb-1">{{ creators_title }}</h4>
        {{ creators }}
    </div>

{% endblock %}
