{% extends "base.html" %}

{% block content %}
<form action="" method="post" autocomplete="off">
    <h1 class="label_8">Вход</h1>
    {{ form.hidden_tag() }}
        <h3>ffffff</h3>
    <h3>ffffff</h3>
    <h3>ffffff</h3>
    <h3>ffffff</h3>
    <h3>ffffff</h3>
    <h3>ffffff</h3>
    <h3>ffffff</h3>
        <h4 class="label_1" >Имя организации</h4><br>
        {{ form.name(class="form-control") }}<br>
    <h3>ffffff</h3>
    <h3>ffffff</h3>

        <h4 class="label_2">Пароль</h4><br>
        {{ form.password(class="form-control", type="password") }}

    {{ form.submit(type="submit", class="btn btn-primary") }}
    <label class="label_10">{{message}}</label>
</form>
{% endblock %}
