{% extends "base.html" %}

{% block content %}
<div class="position-absolute top-0 end-0"><a href="/">Вернутся на главную</a></div>
<h1 class="label_8">Вход</h1>
<form action="" method="post" autocomplete="off">
    {{ form.hidden_tag() }}

    <label class="label_1" >Имя организации</label>
    {{ form.name(class="form-control mb-2") }}

    <label class="label_2">Пароль</label>
    {{ form.password(class="form-control mb-2", type="password") }}

    {{ form.submit(type="submit", class="btn btn-primary") }}

</form>
{% endblock %}
