{% extends "base.html" %}

{% block content %}

<div id="header"><div class="position-absolute top-0 end-0"><a href="/">Вернутся на главную</a></div></div>
<div class="main d-flex flex-row mt-3">
    <div id=" d-flex flex-column">
        <form action="" method="post" autocomplete="off">
            <label class="label_21 mb-1 d-block">Средняя цена</label>
            <textarea class="mb-2 d-block" rows="1" cols="15" name="text"></textarea>
            <label class="label_22 mb-1 d-block">Сфера</label>
            <select class="Sphere mb-3 d-block" id="Sphere" name="Sphere">
                  <option>Ютуб</option>
                  <option>Инстаграм</option>
                  <option>Банера</option>
                  <option>Телеканал</option>
                  <option>Интернет</option>
                </select>
            {{ form.submit(type="submit", class="btn_search") }}
        </form>
    </div>
    <div class="content">
        {% for i, e, hrefe,  r, s, a, rr, ss, aa, name, pr, sp, co in user_search %}
            <div class="border border-primary p-2 ms-4">
                <h4 class="mb-2 text-center">
                    <a class="{{ e }}" href={{ hrefe }}>
                        {{ name }}
                    </a>
                </h4>


                <div class="mb-2">
                    <label class={{ r }}>Цена:</label>
                    <label class={{ rr }}>{{ pr }}</label>
                </div>

                <div class="mb-2">
                    <label class={{ s }}>Сфера:</label>
                    <label class={{ ss }}>{{ sp }}</label>
                </div>

                <div class="mb-2">
                    <label class={{ a }}>Аудитория:</label>
                    <label class={{ aa }}>{{ co }}</label>
                </div>

            </div>
            {% endfor %}
    </div>
</div>


{% endblock %}
