{% extends "base.html" %}

{% block content %}
<div class="position-absolute top-0 end-0"><a href="/">Вернутся на главную</a></div>
<h4 class="label_3">Регистрация</h4>
<form action="" method="post" autocomplete="off">
    {{ form.hidden_tag() }}
        <label class="label_4">Почта</label>
        {{ form.email(class="form-control", type="email") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}


        <label class="label_5">Пароль</label>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="label_6">Повторите пароль</label>
        {{ form.password_again(class="form-control", type="password") }}<br>

        <label class="label_7">Имя организации</label>
        {{ form.name(class="form-control") }}<br>

        <label class="label_16">Контактный номер телефона</label>
        {{ form.fon_num(class="form-control") }}<br>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}